<script>
  function deleteProduct(code){
    fetch(`http://localhost:8080/products/${code}`, {
      method: "delete"
    })
    window.location.href="http://localhost:8080/products"
  }
</script>
<div>
  <h1>Bienvenido</h1>
  <div>La lista de productos es:</div>
  <ul>
    {{#each docs}}
      <li>{{this.title}}</li>
      <li>{{this.description}}</li>
      <li>{{this.price}}</li>
      <a href="/products/{{this.code}}"><img src="{{this.thumbnail}}" alt="" width="150"></img></a>
      <li>{{this.code}}</li>
      <li>{{this.stock}}</li>
      <button id="btnDelete" onclick="deleteProduct('{{this.code}}')">Eliminar</button>
      <button id="btnUpdate" onclick="window.location.href='http://localhost:8080/products/update/{{this.code}}'">Actualizar</button>
      <br />
      <br />
    {{/each}}
  </ul>
  <div>
    {{#if hasPrevPage}}
      <a href="{{prevLink}}">Anterior</a>
    {{/if}}
    {{#if hasNextPage}}
      <a href="{{nextLink}}">Siguiente</a>
    {{/if}}
  </div>
</div>