<div>
  <h2>{{product.title}}</h2>
  <br />
  description:
  {{product.description}}
  <br />
  code:
  {{product.code}}
  <br />
  price:
  {{product.price}}
  <br />
  stock:
  {{product.stock}}
  <br />
  <img src="{{product.thumbnail}}" alt="" width="150" />
</div>